{% extends "layout.html" %} {% block body %}

<br />
<h1 class="text-center">
  <i class="fa-solid fa-bullseye" style="color: rgb(255, 0, 0)"></i>
  <strong>วัตถุประสงค์และเป้าหมาย (Objectives and Goals)</strong>
</h1>
<h4 class="txt p-3">
  คนหูหนวกและเป็นใบ้ไม่สามารถได้ยินและพูดได้ พวกเขาเผชิญกับความท้าทาย
  มากมายในชีวิตประจำวัน เพื่อนำมาซึ่งการเปลี่ยนแปลง
  เราคิดที่จะทำบางสิ่งที่เปลี่ยนแปลงชีวิตของพวกเขาและเพื่อต้องการแก้ปัญหาการสื่อสารระหว่างคนที่ใช้ภาษามือกับคนปกติที่มีความยากและลำบากในการสื่อสารกัน
</h4>
<br /><br /><br />
<h1 class="text-center">
  <i class="fa-solid fa-pen-to-square" style="color: rgb(0, 119, 255)"></i>
  <strong>เนื้อเรื่องย่อ (Story Board)</strong>
</h1>
<h4 class="txt p-3">
  เนื่องจากสถิติของผู้พิการทางการได้ยินมีเยอะเป็นอันดับ 2 ของผู้พิการทั้งหมด
  ซึ่งนับเป็นร้อยละ 18.65 โปรแกรมช่วยแปลภาษาใบ้นี้จะช่วยยกคุณภาพชีวิตของผู้พิการ
  ทางการได้ยินโดยพวกเค้าเหล่านี้จะสามารถใช้ชีวิตได้สดวกมากขึ้นหากมีเทคโนโลยีที่สามารถ
  สื่อสารได้ง่ายและสดวกกับคนปกติ
</h4>
<img
  class="rounded position-relative top-0 start-50 translate-middle-x"
  width="600"
  height="500"
  src="../static/dataimage/Analys.png"
/>
<br /><br /><br /><br /><br />
<h1 class="text-center">
  <i class="fa-solid fa-triangle-exclamation" style="color: gold"></i>
  <strong
    >ปัญหาของผู้พิการทางการได้ยินในการใช้ชีวิตร่วมกับคนปกติ (Problems of the
    hearing impaired in living with normal people)</strong
  >
</h1>
<h4 class="p-3">
  1. คนหูหนวกมีภาษาการเขียนไม่เหมือนคนปกติ รูปแบบการเขียนจะ
  เป็นประโยคภาษาไทยที่เรียงเหมือนไวยากรณ์ภาษาอังกฤษ<br />
  2. จะลงคอร์สเรียนพิเศษเหมือนเด็กปกติไม่ค่อยได้ เนื่องจากมีปัญหาด้านการสื่อสาร
  และการฟัง<br />
  3. เวลาจะคุยกับคนปกติต้องใส่เครื่องช่วยฟังตลอด <br />
  4. จะไปไหนต้องมีผู้ปกครองหรือเพื่อนสนิทไปด้วยตลอด เพื่อลดการเกิดอุบัติเหตุ
  เนื่องจากไม่ได้ยินเสียง <br />
  5. ปัญหาด้านการเดินทาง เนื่องจากไม่ได้ยินเสียง
  ถ้าเดินอยู่แล้วมีรถขับมาจ่อด้านหลังบีบแตรใส่คนหูหนวกบางคนก็ไม่ได้ยิน <br />
  6. ชอบโดนเมินเวลาไม่ได้ยินแล้ว บางคนก็ชอบเดินหนี ไม่พูดซ้ำ บางคนหัวเราะใส่
</h4>
<br /><br /><br />
<h1 class="text-center">
  <i
    class="fa-solid fa-screwdriver-wrench"
    style="color: rgb(117, 117, 117)"
  ></i>
  <strong>โปรแกรมและเครื่องมือต่างๆ (Programs and Tools)</strong>
</h1>
<div class="row row-cols-1 row-cols-md-6 p-3">
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/Python.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Python</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/Numpy.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Numpy</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/Pandas.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Pandas</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/OpenCV.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>OpenCV</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/MediaPipe.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>MediaPipe</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/Tensorflow.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Tensorflow</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/flask.png"
          width="125"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Flask</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/Colab.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Google Colab</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/Drive.png"
          width="150"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Google Drive</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/HTML5.png"
          width="140"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>HTML5</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/CSS3.png"
          width="140"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>CSS3</strong>
      </h3>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <h3 class="text-center">
        <img
          src="../static/dataimage/Bootstrap.png"
          width="190"
          height="150"
          class="rounded mx-auto d-block my-3"
        /><strong>Bootstrap5</strong>
      </h3>
    </div>
  </div>
</div>

{% endblock %}
