{% extends "layout.html" %} {% block body %}

<div class="row">
  <div class="column-profile">
    <h2>อาจารย์ที่ปรึกษาโครงการ</h2>
    <img src="../static/profile_user/อาจาร์ย.jpg">
    <h2>รศ.ดร.กันต์พงษ์ วรรัตน์ปัญญา</h2>
    <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
    <p><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 094-153-6593</p>
    <p><i class="fa-solid fa-envelope" style="color: rgb(255, 255, 255);"></i> E-mail : kuntpong@it.kmitl.ac.th</p>
  </div>
</div>

<div class="row">
  <div class="column-profile">
    <h2>หัวหน้าโครงการ</h2>
    <img src="../static/profile_user/มงคล.jpg">
    <h2>นายมงคล บุญดำเนิน</h2>
    <p>คณะเทคโนโลยีสารสนเทศ</p>
    <p>สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ</p>
    <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
    <p><i class="fa-solid fa-user-secret" style="color: rgb(255, 255, 255);"></i> ตำแหน่ง : Full Stack Developer & AI
      Engineer</p>
    <p><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 098-709-5239</p>
    <p><i class="fa-solid fa-envelope" style="color: rgb(255, 255, 255);"></i> E-mail : 65070186@kmitl.ac.th</p>
  </div>
  <div class="column-profile">
    <h2>ผู้เข้าร่วมโครงการ</h2>
    <img src="../static/profile_user/กมลวิช.jpg">
    <h2>นายกมลวิช ทองศรี</h2>
    <p>คณะเทคโนโลยีสารสนเทศ</p>
    <p>สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ</p>
    <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
    <p><i class="fa-solid fa-user-secret" style="color: rgb(255, 255, 255);"></i> ตำแหน่ง : Research Author & Data
      Engineer</p>
    <p><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 092-585-6763</p>
    <p><i class="fa-solid fa-envelope" style="color: rgb(255, 255, 255);"></i> E-mail : 65070009@kmitl.ac.th</p>
  </div>
  <div class="column-profile">
    <h2>ผู้เข้าร่วมโครงการ</h2>
    <img src="../static/profile_user/ธนภัทร.jpg">
    <h2>นายธนภัทร สหบรรเทิงศิลป์</h2>
    <p>คณะเทคโนโลยีสารสนเทศ</p>
    <p>สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ</p>
    <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
    <p><i class="fa-solid fa-user-secret" style="color: rgb(255, 255, 255);"></i> ตำแหน่ง : Data Collector & Data
      Engineer</p>
    <p><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 098-262-5651</p>
    <p><i class="fa-solid fa-envelope" style="color: rgb(255, 255, 255);"></i> E-mail : 65070095@kmitl.ac.th</p>
  </div>
</div>

{% endblock %}