{% extends "layout.html" %} {% block body %}

<div class="p-3 text-white">
  <br />
  <div class="row">
    <div class="col">
      <div class="box">
        <img
          src="../static/profile_user/อาจาร์ย.jpg"
          class="rounded-circle float-start d-block w-75"
          alt="..."
        />
      </div>
    </div>
    <div class="col align-self-center me-3">
      <h1><strong>รศ.ดร.กันต์พงษ์ วรรัตน์ปัญญา</strong></h1>
      <h5 class="text-warning my-3">
        สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3"><i class="fa-solid fa-user-secret" style="color: rgb(255, 255, 255);"></i> ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-primary">อาจารย์ที่ปรึกษาโครงการ</a>
        </div>
      </div>
      <h5 class="my-3"><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 094-153-6593</h5>
      <h5 class="my-3"><i class="fa-solid fa-envelope"  style="color: rgb(255, 255, 255);"></i> E-mail : kuntpong@it.kmitl.ac.th</h5>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center me-3">
      <h1><strong>นายมงคล บุญดำเนิน</strong></h1>
      <h5 class="text-warning my-3">
        คณะเทคโนโลยีสารสนเทศ สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ
        <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3"><i class="fa-solid fa-user-secret" style="color: rgb(255, 255, 255);"></i> ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-primary">หัวหน้าโครงการ</a>
        </div>
        <div class="col">
          <a class="btn btn-light">Full Stack Developer</a>
        </div>
        <div class="col">
          <a class="btn btn-danger">AI Engineer</a>
        </div>
      </div>
      <h5 class="my-3"><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 098-709-5239</h5>
      <h5 class="my-3"><i class="fa-solid fa-envelope"  style="color: rgb(255, 255, 255);"></i> E-mail : 65070186@kmitl.ac.th</h5>
      <br />
    </div>
    <div class="col">
      <div class="box">
        <img
          src="../static/profile_user/มงคล.jpg"
          class="rounded-circle float-end d-block w-75"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="box">
        <img
          src="../static/profile_user/กมลวิช.jpg"
          class="rounded-circle float-start d-block w-75"
          alt="..."
        />
      </div>
    </div>
    <div class="col align-self-center me-3">
      <h1><strong>นายกมลวิช ทองศรี</strong></h1>
      <h5 class="text-warning my-3">
        คณะเทคโนโลยีสารสนเทศ สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ
        <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3"><i class="fa-solid fa-user-secret" style="color: rgb(255, 255, 255);"></i> ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-primary">ผู้เข้าร่วมโครงการ</a>
        </div>
        <div class="col">
          <a class="btn btn-danger">AI Engineer</a>
        </div>
        <div class="col">
          <a class="btn btn-success">Software Tester</a>
        </div>
      </div>
      <h5 class="my-3"><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 092-585-6763</h5>
      <h5 class="my-3"><i class="fa-solid fa-envelope"  style="color: rgb(255, 255, 255);"></i> E-mail : 65070009@kmitl.ac.th</h5>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center me-3">
      <h1><strong>นายธนภัทร สหบรรเทิงศิลป์</strong></h1>
      <h5 class="text-warning my-3">
        คณะเทคโนโลยีสารสนเทศ สาขาวิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ
        <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
      </h5>
      <h5 class="my-3"><i class="fa-solid fa-user-secret" style="color: rgb(255, 255, 255);"></i> ตำแหน่ง</h5>
      <div class="row row-cols-auto">
        <div class="col">
          <a class="btn btn-primary">ผู้เข้าร่วมโครงการ</a>
        </div>
        <div class="col">
          <a class="btn btn-danger">AI Engineer</a>
        </div>
        <div class="col">
          <a class="btn btn-success">Software Tester</a>
        </div>
      </div>
      <h5 class="my-3"><i class="fa-solid fa-phone-volume" style="color: rgb(255, 255, 255);"></i> เบอร์โทรศัทพ์ : 098-262-5651</h5>
      <h5 class="my-3"><i class="fa-solid fa-envelope"  style="color: rgb(255, 255, 255);"></i> E-mail : 65070095@kmitl.ac.th</h5>
      <br />
    </div>
    <div class="col">
      <div class="box">
        <img
          src="../static/profile_user/ธนภัทร.jpg"
          class="rounded-circle float-end d-block w-75"
          alt="..."
        />
      </div>
    </div>
  </div>
  <br />
</div>

{% endblock %}
