{% extends "layout.html" %} {% block body %}

<br />
<h1 class="text-center">
  <i class="fa-solid fa-hands-bubbles" style="color: rgb(255, 235, 209)"></i>
  <strong>โปรแกรมแปลภาษามือ (Sign Language)</strong>
</h1>
<h4 class="txt p-3">
  ในการส่งผลงานตามข้อกำหนดของการรับทุนสนับสนุนภายใต้โครงการ“การแข่งขันพัฒนาโปรแกรมคอมพิวเตอร์แห่งประเทศไทย
  ครั้งที่ 25” สำหรับประเภทนักเรียน และประเภทนิสิต นักศึกษานั้น สวทช.
  กำหนดให้ทุกโครงการที่ส่งผลงานจะต้องปรากฏข้อความข้อตกลงในการใช้ซอฟต์แวร์
  (ภาษาไทยหรือภาษาอังกฤษ) ในผลงานดังกล่าว ซึ่งผู้พัฒนาสามารถจะใส่ไว้ที่
  Readme.txt
  หน้าแรกของการติดตั้งหน้าแรกของการเรียกโปรแกรมขึ้นใช้งานหรือส่วนใดส่วนหนึ่งของโปรแกรม
  ได้แก่ help เมนู เป็นต้น
</h4>
<br /><br />
<h1 class="text-lift">
  <i class="fa-solid fa-folder-open" style="color: gold"></i>
  <strong>หมวดหมู่คำ (Category)</strong>
</h1>
<br />
<div class="row row-cols-1 row-cols-md-4 g-4 p-3">
  <div class="col">
    <a href="/PlayVideo/Family"
      ><div class="box bg1">
        <h2><strong>Family</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Feeling"
      ><div class="box bg2">
        <h2><strong>Feeling</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Person"
      ><div class="box bg3">
        <h2><strong>Person</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Place"
      ><div class="box bg4">
        <h2><strong>Place</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Pronoun"
      ><div class="box bg5">
        <h2><strong>Pronoun</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Question"
      ><div class="box bg6">
        <h2><strong>Question</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Sick"
      ><div class="box bg7">
        <h2><strong>Sick</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Time"
      ><div class="box bg8">
        <h2><strong>Time</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Verb"
      ><div class="box bg9">
        <h2><strong>Verb</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Greeting"
      ><div class="box bg10">
        <h2><strong>Greeting</strong></h2>
      </div></a
    >
  </div>
  <div class="col">
    <a href="/PlayVideo/Weather"
      ><div class="box bg11">
        <h2><strong>Weather</strong></h2>
      </div></a
    >
  </div>
</div>
<br />

{% endblock %}
